.top-search{
    height: 123px;
    display: flex;
    justify-content: space-between;
    .logo{
        width: 248px;
        height: 123px;
        line-height: 123px;
        text-align: center;
        a{
            font-size: 40px;
            font-family: 'Microsoft Yahei';
            font-weight: 700;
            letter-spacing:8px;
            background: linear-gradient(to right, yellow, red);
            -webkit-background-clip: text;
            color: transparent;
        }
    }
    .title{
        color: #000;
        font-family: "宋体";
        font-size: 24px;
        width: 505px;
        height: 123px;
        line-height: 123px;
        text-align: center;
        font-weight: 800;
    }
    .tel{
        padding: 52px 0 25px 0;
        img{
            border: 0;
        }
    }
}
.title-introduce{
    font-size: 16px;
    line-height: 30px;
    text-indent: 2em;
}
.content{
    .content-title{
        font-size: 20px;
        font-weight: 600;
    }
    .showimg{
        width: 100%;
        text-align: center;
        .dryFruitImg{
            width: 502px;
            height: 310px;
        }
    }
    .content-text{
        font-size: 16px;
        line-height: 30px;
        text-indent: 2em;
    }
}
